@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 0, 0, 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
	--font-sans: 'Inter';
}

/* 거울 효과 만들기 */
video {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg); /* Firefox */
}
